html{
    background-color: aliceblue;
}
div[class*='logo'] {
    font-family: "Times New Roman", Times, serif;
    font-size:10px;
    color:brown
}
div[class*='resultBanks'] {
    font-family: "Times New Roman", Times, serif;
    font-size:25px;
    color:brown
}
div[class*='sumCreditClient']{
    margin-left: 18px;
    width: 400px;
}
div[class*='periodCreditClient']{
    margin-left: 18px;
    width: 400px;
}
button{
    background-color:#3CB371;
    border-color: #3CB371;
    color: white;
    width: 6em;
    height: 2.8em;
    border-radius: 4px;
    position: relative;
    margin:2px;
}